In [2]:
import requests
import pandas as pd
from pprint import pprint as pp

In [158]:
df = pd.read_csv('pokemon_data.csv')

pp(df)
pp(df.columns)

       #                       Name    Type 1  Type 2   HP  Attack  Defense  \
0      1                  Bulbasaur     Grass  Poison   45      49       49
1      2                    Ivysaur     Grass  Poison   60      62       63
2      3                   Venusaur     Grass  Poison   80      82       83
3      3      VenusaurMega Venusaur     Grass  Poison   80     100      123
4      4                 Charmander      Fire     NaN   39      52       43
5      5                 Charmeleon      Fire     NaN   58      64       58
6      6                  Charizard      Fire  Flying   78      84       78
7      6  CharizardMega Charizard X      Fire  Dragon   78     130      111
8      6  CharizardMega Charizard Y      Fire  Flying   78     104       78
9      7                   Squirtle     Water     NaN   44      48       65
10     8                  Wartortle     Water     NaN   59      63       80
11     9                  Blastoise     Water     NaN   79      83      100
12     9    BlastoiseMega Blastoise     Water     NaN   79     103      120
13    10                   Caterpie       Bug     NaN   45      30       35
14    11                    Metapod       Bug     NaN   50      20       55
15    12                 Butterfree       Bug  Flying   60      45       50
16    13                     Weedle       Bug  Poison   40      35       30
17    14                     Kakuna       Bug  Poison   45      25       50
18    15                   Beedrill       Bug  Poison   65      90       40
19    15      BeedrillMega Beedrill       Bug  Poison   65     150       40
20    16                     Pidgey    Normal  Flying   40      45       40
21    17                  Pidgeotto    Normal  Flying   63      60       55
22    18                    Pidgeot    Normal  Flying   83      80       75
23    18        PidgeotMega Pidgeot    Normal  Flying   83      80       80
24    19                    Rattata    Normal     NaN   30      56       35
25    20                   Raticate    Normal     NaN   55      81       60
26    21                    Spearow    Normal  Flying   40      60       30
27    22                     Fearow    Normal  Flying   65      90       65
28    23                      Ekans    Poison     NaN   35      60       44
29    24                      Arbok    Poison     NaN   60      85       69
..   ...                        ...       ...     ...  ...     ...      ...
770  700                    Sylveon     Fairy     NaN   95      65       65
771  701                   Hawlucha  Fighting  Flying   78      92       75
772  702                    Dedenne  Electric   Fairy   67      58       57
773  703                    Carbink      Rock   Fairy   50      50      150
774  704                      Goomy    Dragon     NaN   45      50       35
775  705                    Sliggoo    Dragon     NaN   68      75       53
776  706                     Goodra    Dragon     NaN   90     100       70
777  707                     Klefki     Steel   Fairy   57      80       91
778  708                   Phantump     Ghost   Grass   43      70       48
779  709                  Trevenant     Ghost   Grass   85     110       76
780  710      PumpkabooAverage Size     Ghost   Grass   49      66       70
781  710        PumpkabooSmall Size     Ghost   Grass   44      66       70
782  710        PumpkabooLarge Size     Ghost   Grass   54      66       70
783  710        PumpkabooSuper Size     Ghost   Grass   59      66       70
784  711      GourgeistAverage Size     Ghost   Grass   65      90      122
785  711        GourgeistSmall Size     Ghost   Grass   55      85      122
786  711        GourgeistLarge Size     Ghost   Grass   75      95      122
787  711        GourgeistSuper Size     Ghost   Grass   85     100      122
788  712                   Bergmite       Ice     NaN   55      69       85
789  713                    Avalugg       Ice     NaN   95     117      184
790  714                     Noibat    Flying  Dragon   40      30       35
791  715                    Noivern    Flying  Dragon   85      70       80
792  716                    Xerneas     Fairy     NaN  126     131       95
793  717                    Yveltal      Dark  Flying  126     131       95
794  718           Zygarde50% Forme    Dragon  Ground  108     100      121
795  719                    Diancie      Rock   Fairy   50     100      150
796  719        DiancieMega Diancie      Rock   Fairy   50     160      110
797  720        HoopaHoopa Confined   Psychic   Ghost   80     110       60
798  720         HoopaHoopa Unbound   Psychic    Dark   80     160       60
799  721                  Volcanion      Fire   Water   80     110      120

     Sp. Atk  Sp. Def  Speed  Generation  Legendary
0         65       65     45           1      False
1         80       80     60           1      False
2        100      100     80           1      False
3        122      120     80           1      False
4         60       50     65           1      False
5         80       65     80           1      False
6        109       85    100           1      False
7        130       85    100           1      False
8        159      115    100           1      False
9         50       64     43           1      False
10        65       80     58           1      False
11        85      105     78           1      False
12       135      115     78           1      False
13        20       20     45           1      False
14        25       25     30           1      False
15        90       80     70           1      False
16        20       20     50           1      False
17        25       25     35           1      False
18        45       80     75           1      False
19        15       80    145           1      False
20        35       35     56           1      False
21        50       50     71           1      False
22        70       70    101           1      False
23       135       80    121           1      False
24        25       35     72           1      False
25        50       70     97           1      False
26        31       31     70           1      False
27        61       61    100           1      False
28        40       54     55           1      False
29        65       79     80           1      False
..       ...      ...    ...         ...        ...
770      110      130     60           6      False
771       74       63    118           6      False
772       81       67    101           6      False
773       50      150     50           6      False
774       55       75     40           6      False
775       83      113     60           6      False
776      110      150     80           6      False
777       80       87     75           6      False
778       50       60     38           6      False
779       65       82     56           6      False
780       44       55     51           6      False
781       44       55     56           6      False
782       44       55     46           6      False
783       44       55     41           6      False
784       58       75     84           6      False
785       58       75     99           6      False
786       58       75     69           6      False
787       58       75     54           6      False
788       32       35     28           6      False
789       44       46     28           6      False
790       45       40     55           6      False
791       97       80    123           6      False
792      131       98     99           6       True
793      131       98     99           6       True
794       81       95     95           6       True
795      100      150     50           6       True
796      160      110    110           6       True
797      150      130     70           6       True
798      170      130     80           6       True
799      130       90     70           6       True

[800 rows x 12 columns]
Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [18]:
print(df[['Name', 'Type 1', 'HP']][:5])

                    Name Type 1  HP
0              Bulbasaur  Grass  45
1                Ivysaur  Grass  60
2               Venusaur  Grass  80
3  VenusaurMega Venusaur  Grass  80
4             Charmander   Fire  39

In [38]:
df.iloc[4:14,1]

4                    Charmander
5                    Charmeleon
6                     Charizard
7     CharizardMega Charizard X
8     CharizardMega Charizard Y
9                      Squirtle
10                    Wartortle
11                    Blastoise
12      BlastoiseMega Blastoise
13                     Caterpie
Name: Name, dtype: object

In [52]:
# for index, row in df.iterrows():
#     print(index, row['Name'])
# df.loc[df['Type 1'] == 'Fire']
# df.describe()
df.sort_values(['Name','HP'], ascending=[1, 0]).head(9)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
510,460,Abomasnow,Grass,Ice,90,92,75,92,85,60,4,False
511,460,AbomasnowMega Abomasnow,Grass,Ice,90,132,105,132,105,30,4,False
68,63,Abra,Psychic,NaN,25,20,15,105,55,90,1,False
392,359,Absol,Dark,NaN,65,130,60,75,60,75,3,False
393,359,AbsolMega Absol,Dark,NaN,65,150,60,115,60,115,3,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
750,681,AegislashBlade Forme,Steel,Ghost,60,150,50,150,50,60,6,False
751,681,AegislashShield Forme,Steel,Ghost,60,50,150,50,150,60,6,False
153,142,Aerodactyl,Rock,Flying,80,105,65,60,75,130,1,False

In [166]:
# Создать колонку Total
# df['Total'] = df['HP'] + df['Speed']

# df.drop(columns=['Total'])

df['Total'] = df.iloc[:, 4:10].sum(axis=1)

df.head(6)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,False,405

# Saving

In [75]:
df.to_csv('modified.csv', index=False)
df.to_excel('modified.xlsx', index=False)
df.to_csv('modified.txt', index=False, sep='\t')

# Filtering Data

In [167]:
new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]
new_df.reset_index(drop=True, inplace=True)
new_df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
0,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
1,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
2,45,Vileplume,Grass,Poison,75,80,85,110,90,50,1,False,490
3,71,Victreebel,Grass,Poison,80,105,65,100,70,70,1,False,490
4,591,Amoonguss,Grass,Poison,114,85,70,85,80,30,5,False,464

In [99]:
import re

# df.loc[df['Name'].str.contains('Mega')]
# ~ - Отрицание
# df.loc[~df['Name'].str.contains('Mega')]

# re.I - Ignore cases
# df.loc[df['Type 1'].str.contains('fire|grass', flags=re.I, regex=True)]
df.loc[df['Name'].str.contains('^Pi', flags=re.I, regex=True)]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
20,16,Pidgey,Normal,Flying,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,83,80,80,135,80,121,1,False
30,25,Pikachu,Electric,NaN,35,55,40,50,50,90,1,False
136,127,Pinsir,Bug,NaN,65,125,100,55,70,85,1,False
137,127,PinsirMega Pinsir,Bug,Flying,65,155,120,65,90,105,1,False
186,172,Pichu,Electric,NaN,20,40,15,35,35,60,2,False
219,204,Pineco,Bug,NaN,50,65,90,35,35,15,2,False
239,221,Piloswine,Ice,Ground,100,100,80,60,60,50,2,False
438,393,Piplup,Water,NaN,53,51,53,61,56,40,4,False
558,499,Pignite,Fire,Fighting,90,93,55,70,55,55,5,False
578,519,Pidove,Normal,Flying,50,55,50,36,30,43,5,False

# Conditional Changes

In [113]:
# Где Type 1 == Fire 
# Присвоить Legendary = True
# df.loc[df['Type 1'] == 'Fire', 'Legendary'] = 'True'

# Изменение нескольких полей по условию HP > 70
# df.loc[df['Hp'] > 70, ['Legendary','Generation']] = ['True', '4']

# Aggregate Statistics (Groupby)

In [160]:
df.groupby(['Type 1']).mean().sort_values('Defense', ascending=False)

df.groupby(['Type 1']).sum()

df.groupby(['Type 1']).count()['#']

# df.groupby(['Type 1', 'Type 2']).count()['#'].head(15)

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: #, dtype: int64

# Working with large amount of data

In [157]:
# Partial data loading

# for df in pd.read_csv('modified.csv', chunksize=5):
#     print(f'CHUNK DF')
#     print(df)

In [150]:
# Странный код
new_df = pd.DataFrame(columns=df.columns)

for df in pd.read_csv('modified.csv', chunksize=5):
    results = df.groupby(['Type 1']).count()
    # Соединение чанков методом concat
    new_df = pd.concat([new_df, results], sort=False)
    
new_df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,Total
Fire,1,1,NaN,0,1,1,1,1,1,1,1,1,1
Grass,4,4,NaN,4,4,4,4,4,4,4,4,4,4
Fire,4,4,NaN,3,4,4,4,4,4,4,4,4,4
Water,1,1,NaN,0,1,1,1,1,1,1,1,1,1
Bug,2,2,NaN,0,2,2,2,2,2,2,2,2,2